@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

footer {
    overflow: hidden;
}

:root {

    /**
   * colors
   */

    --st-patricks-blue: hsl(236, 57%, 28%);
    --amaranth-purple: hsl(335, 88%, 38%);
    --royal-blue-dark: hsl(231, 68%, 21%);
    --chrome-yellow: hsl(5, 100%, 69%);
    --space-cadet-1: hsl(230, 41%, 25%);
    --space-cadet-2: hsl(230, 59%, 16%);
    --winter-sky_50: hsla(335, 87%, 53%, 0.5);
    --purple-navy: hsl(236, 26%, 43%);
    --ksu-purple: hsl(275, 54%, 33%);
    --winter-sky: hsl(212, 100%, 50%);
    --razzmatazz: hsl(212, 87%, 53%);
    --platinum: hsl(0, 0%, 90%);
    --black_70: hsla(0, 0%, 0%, 0.7);
    --rajah: hsl(5, 100%, 69%);
    --white: hsl(0, 0%, 100%);

    --gradient-1: linear-gradient(90deg, var(--royal-blue-dark) 0, var(--ksu-purple) 51%, var(--royal-blue-dark));
    --gradient-2: linear-gradient(90deg, var(--razzmatazz), var(--rajah));

    /**
   * typography
   */

    --ff-source-sans-pro: 'Source Sans Pro', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    --fs-1: 4.2rem;
    --fs-2: 3.8rem;
    --fs-3: 3.2rem;
    --fs-4: 2.5rem;
    --fs-5: 2.4rem;
    --fs-6: 2rem;
    --fs-7: 1.8rem;
    --fs-8: 1.5rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /**
   * border radius
   */

    --radius-4: 4px;
    --radius-12: 12px;

    /**
   * spacing
   */

    --section-padding: 60px;

    /**
   * transition
   */

    --transition-1: 0.15s ease;
    --transition-2: 0.35s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

    /**
   * shadow
   */

    --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

/* dropdowns */
.paste-button {
    position: relative;
    display: block;
    font-family: "Poppins", sans-serif;
}

.button {
    background-color: transparent;
    color: #fff;
    padding: 5px 0;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: all 0.50s ease;
}

.dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 2;
    min-width: 200px;
    background-color: #212121;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.1s;
}

.dropdown-content a:hover {
    background-color: black;
    color: black;
}

.dropdown-content a:focus {
    background-color: #212121;
    color: black;
}

.dropdown-content #top:hover {
    border-radius: 0px 13px 0px 0px;
}

.dropdown-content #middle:hover {
    border-radius: 0px 0px 13px 13px;
}

.dropdown-content #bottom:hover {
    border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
    display: block;
}

body {
    min-height: 40vh;
    background: #0F1156;
    color: #fff;
}

.container {
    padding-inline: 15px;
}

.w-100 {
    width: 100%;
}

.banner-animation {
    animation: waveAnim 2s linear infinite alternate;
}

@keyframes waveAnim {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    100% {
        transform: translate(2px, 2px) rotate(2deg);
    }
}

.header {

    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(1, 1, 1, 0.5);
    padding: 15px 200px;
    transition: all 0.50s ease;
}

.navbar {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.navbar li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.navbar a,
.button {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    transition: all 0.50s ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar a:hover,
.button:hover {
    color: #6D7FFB;
}

.main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    /* Add margin to the right side */
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.50s ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: #29fd53;
    font-size: 20px;
    margin-right: 7px;
}

.main a:hover {
    color: #29fd53;
}

#menu-icon {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 1280px) {
    .header {
        padding: 14px 2%;
        transition: 0.2s;
    }

    .navbar li {
        margin: 0 10px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 2%;
        width: 270px;
        height: auto;
        background: #0F1156;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        overflow: hidden;
        max-height: 0;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar.active {
        max-height: 500px;
        /* Adjust based on content height */

    }

    .navbar a:hover,
    .button:hover {
        color: yellow;
    }

}



section {
    padding: 100px 200px;
    min-height: 40vh;

}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
    font-size: var(--fs-8);
    padding: 30px;
}

.footer a {
    color: inherit;
}

.footer-top {
    background-repeat: no-repeat;
    background-size: auto, 200%;
    background-position: center, center;
    color: var(--white);
    padding: 30px 0;
}

.footer-brand {
    margin-block-end: 30px;
}

.footer-brand .logo {
    font-weight: var(--fw-700);
    margin-block-end: 15px;
}

.footer-brand .text {
    font-size: 16px;
    /* Adjusted font size for consistency */
    margin-block-end: 20px;
}

.social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.footer-top .social-link {
    background-color: var(--white);
    color: var(--winter-sky);
    font-size: 18px;
    padding: 8px;
    border-radius: 50%;
}

.footer-top .social-link:is(:hover, :focus) {
    background-image: var(--gradient-2);
    color: var(--white);
}

.footer-list:not(:last-child) {
    margin-block-end: 25px;
}

.footer-list-title {
    font-family: var(--ff-source-sans-pro);
    font-size: 18px;
    /* Adjusted font size for consistency */
    font-weight: var(--fw-700);
    margin-block-end: 15px;
}

.footer-link {
    padding-block: 5px;
    font-size: 16px;
    /* Adjusted font size for consistency */
}

:is(.footer-link, .footer-item-link):not(address):is(:hover, :focus) {
    text-decoration: underline;
}

.footer-item-link {
    font-size: 16px;
    /* Adjusted font size for consistency */
}

.footer-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-block: 10px;
}

.footer-item-icon {
    background-image: var(--gradient-2);
    padding: 13px;
    border-radius: 50%;
}

.footer-bottom {
    color: #210D39;
    padding: 10px;
    text-align: center;
    background-color: #7BACD4;
    margin: 0 -30px -30px -30px;
}

.copyright-link {
    display: inline-block;
    text-decoration: underline;
}

.copyright-link:is(:hover, :focus) {
    text-decoration: none;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/* responsive for smaller than 576px screen */
@media (max-width: 575px) {
    .footer-top .container {
        display: block;
        margin-right: 20px;
    }

    .footer-list-link {
        display: block;
        text-align: center;
    }

    .footer-brand,
    .footer-list {
        margin-block-end: 20px;
    }

    .footer-brand .text,
    .footer-list-title,
    .footer-link,
    .footer-item-link {
        font-size: 16px;
        /* Ensuring consistent font size on smaller screens */
    }
}

/* responsive for larger than 550px screen */
@media (min-width: 550px) {
    .footer-top .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
}

/* responsive for larger than 768px screen */
@media (min-width: 768px) {
    .footer-top .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }

    .footer-brand,
    .footer-list,
    .footer-item {
        flex: 1;
    }
}

/* responsive for larger than 992px screen */
@media (min-width: 992px) {
    .footer-top .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    .footer-brand {
        grid-column: 1 / span 1;
    }

    .footer-list,
    .footer-item {
        grid-column: span 1;
    }

    .footer-brand .text {
        max-width: 45ch;
    }
}

/* responsive for larger than 1200px screen */
@media (min-width: 1200px) {
    .footer-top .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    .footer-brand {
        grid-column: auto;
    }
}

.event-heading {
    font-size: 30px;
    color: #fff;
    text-align: center;
    position: relative;

    animation: glow 1.5s infinite;
}

@media(max-width:400px) {
    .event-heading {
        margin-left: -97px;
    }

    .event-banner-image {
        height: 295px;
        width: 305px;
        margin-left: 230px;
    }



}



@media(max-width:400px) {

    .content-event {
        width: 305px;
    }

    .glimse {
        margin-left: -135px;
        width: 292px;
        font-size: 20px;
    }

    .logos {



        width: 400px;
        overflow: hidden;

        white-space: nowrap;
        position: relative;
    }

    .logos1 {

        padding: 60px 0;

        width: 400px;
        overflow: hidden;

        white-space: nowrap;
        position: relative;
    }

}

@media(max-width:576px) and (min-width:400px) {

    .content-event {
        width: 375px;
    }

    .event-heading {
        font-size: 160px;


    }

    .glimse {
        margin-left: -125px;
        width: 292px;
    }

    .logos {


        padding: 60px 0;
        width: 330px;
        overflow: hidden;

        white-space: nowrap;
        position: relative;
    }

    .logos1 {



        width: 330px;
        overflow: hidden;

        white-space: nowrap;
        position: relative;
    }


}

@media(max-width:768px) and (min-width:576px) {

    .content-event {
        width: 681px;
    }

    .event-heading {
        font-size: 160px;

    }



}

@media(max-width:992px) and (min-width:768px) {

    .content-event {
        width: 912px;

    }



    .event-heading {
        font-size: 40px;
    }

    .glimse-sec {
        font-size: 30px;
    }

    .logos {


        padding: 60px 0;
        width: 167%;
        overflow: hidden;
        margin-left: -200px;
        white-space: nowrap;
        position: relative;
    }

    .logos1 {


        padding: 60px 0;
        width: 167%;
        overflow: hidden;
        margin-left: -200px;
        white-space: nowrap;
        position: relative;
    }


}

@media(max-width:1200px) and (min-width:992px) {

    .content-event {
        width: 1128px;
    }

    .event-heading {
        font-size: 160px;

    }


}


@media(max-width:576px) and (min-width:400px) {
    .event-heading {
        margin-left: -72px;
    }

    .event-banner-image {

        height: 295px;
        width: 371px;
        margin-left: 230px;

    }

    .logos {


        padding: 60px 0;
        width: 1175%;
        overflow: hidden;
        margin-left: -200px;
        white-space: nowrap;
        position: relative;
    }

    .logos1 {


        padding: 60px 0;
        width: 1175%;
        overflow: hidden;
        margin-left: -200px;
        white-space: nowrap;
        position: relative;
    }

}

@media(max-width:768px) and (min-width:576px) {
    .event-heading {
        margin-left: -14px;
    }

    .event-banner-image {

        height: 351px;
        width: 529px;
        margin-left: -17px;

    }

}

@media(max-width:992px) and (min-width:768px) {
    .event-heading {
        margin-left: -7px;
    }

    .event-banner-image {

        height: 340px;
        width: 624px;
        margin-left: 390px;

    }

}

@media(max-width:1200px) and (min-width:992px) {
    .event-heading {
        margin-left: 9px;
    }

    .event-banner-image {
        height: 336px;
        width: 656px;
        margin-left: 390px;


    }

}

@media(min-width:1200px) {
    .event-heading {
        margin-left: 9px;
    }

    .event-banner-image {
        height: 336px;
        width: 656px;
        margin-left: 656px;


    }

    .glimse {
        margin-left: 420px;
    }

    .logos {


        padding: 60px 0;
        width: 149%;
        overflow: hidden;
        margin-left: -200px;
        white-space: nowrap;
        position: relative;
    }

    .logos1 {


        padding: 60px 0;
        width: 149%;
        overflow: hidden;
        margin-left: -200px;
        white-space: nowrap;
        position: relative;
    }

}






.imgBx {
    width: 100px;
    height: 100px;

    margin-left: -400px;
    margin-bottom: 150px;
    margin-top: 60px;
}


.content-event {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background: #323C7D;
    color: white;
    padding: 40px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 30px;


}



@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {


    padding: 60px 0;
    min-width: 100%;
    overflow: hidden;
    margin-left: -200px;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 550px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;

}

.logos:after {
    right: 0;

}

.logos:hover .logos-slide {
    animation-play-state: paused;
    box-shadow: 0 0 40px rgba(27, 12, 92, 0.8);
    /* Increased glow on hover */
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 200px;
    margin: 0 10px;
    box-shadow: 0 0 20px #fff;
    /* Initial glow effect */
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    /* Smooth transition */
}

@keyframes slide1 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.event-banner-image {
    box-shadow: 0 0 20px #fff;
    /* Initial glow effect */
    transition: box-shadow 0.3s ease-in-out;
}

.logos1 {

    padding: 60px 0;

    min-width: 100%;
    margin-left: -200px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logos1:before,
.logos1:after {
    position: absolute;
    top: 0;
    width: 550px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos1:before {
    left: 0;

}

.logos1:after {
    right: 0;

}

.logos1:hover .logos-slide1 {
    animation-play-state: paused;
    box-shadow: 0 0 40px rgba(27, 12, 92, 0.8);
    /* Increased glow on hover */
}

.logos-slide1 {
    display: inline-block;
    animation: 35s slide1 infinite linear;
}

.logos-slide1 img {
    height: 200px;
    margin: 0 10px;
    box-shadow: 0 0 20px #fff;
    /* Initial glow effect */
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    /* Smooth transition */
}
